/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* default */
a,
button {
    cursor: pointer;
}


/* font */

.azeret-mono-main-font {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
}

/* header section start */

.header {
    background-image: url(./assets/Hero-bg.png);
    text-align: center;
    min-height: 652px;
}

.header-content {
    width: 70%;
    margin: 0 auto;
}

.header-content img {
    margin-top: 26px;
}

.header h2 {
    color: #0D1321;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    margin: 40px 0 25px 0;
}

.header p {
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 32px;
    opacity: 0.7;
}

.header button {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background: #0D1321;
    border: 0;
    padding: 21px 24px;
    margin-bottom: 45px;
}

/* header section end */


/* Main section start */
main {
    margin-top: 74px;
    width: 100%;
}

.main-content {
    width: 70%;
    margin: 0 auto;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    padding: 48px;
}

.content {
    text-align: center;
    margin-bottom: 48px;
}

.content h2 {
    margin-bottom: 24px;
    color: #0D1321;
    text-align: center;
    font-size: 32px;
    font-weight: 800;
}

.content p {
    color: #0D1321;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
}

.one,
.two,
.three {
    border-radius: 16px;
    background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    padding: 10px;
}

.two {
    margin: 32px 0;
}

.one,
.two,
.three {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    gap: 20px;
}

.one h3,
.two h3,
.three h3 {
    color: rgba(13, 19, 33, 0.70);
    font-size: 24px;
    font-weight: 700;
}

.one p,
.two p,
.three p {
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin: 16px 0 32px 0;
}

.one button,
.two button,
.three button {
    color: #0D1321;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 12px 20px;
    border: 1px solid #0D1321;
    opacity: 0.7;
}



/* Main section end */



/* Inspiration section start */
.inspiration {
    margin-top: 90px;
    text-align: center;
    width: 70%;
    margin: 90px auto 0 auto;
}

.inspiration h3 {
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.inspiration p {
    margin: 24px 0 48px 0;
    color: #0D1321;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
}

.inspiration-content {
    width: 70%;
    margin: 0 auto;
}

.video-container {
    height: 550px;
}

.video-container iframe {
    width: 90%;
    height: 100%;
    border-radius: 16px;
}

/* Inspiration section end */


/* target section start */
.target {
    margin-top: 150px;
}

.target-content {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.target-content h3 {
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.target-content p {
    margin: 24px 0 48px 0;
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
}

.cards {
    display: flex;
    max-width: 1200px;
    width: 70%;
    margin: 0 auto 120px auto;
    gap: 24px;
}

.cards img {
    width: 54px;
    height: 54px;
}

.cards h2 {
    color: #0D1321;
    font-family: "Azeret Mono";
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 36px;
    margin: 22px 0 8px 0;
}

.cards p {
    color: #0D1321;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin-bottom: 24px;
}

.cards a {
    color: #0D1321;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}

.html,
.css,
.javascript {
    width: 364px;
}

.html {
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 40px;
}

.css {
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    padding: 40px;
}

.javascript {
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    padding: 40px;
}

/* target section end */


/* support section start */
.support {
    width: 70%;
    margin: 0 auto;
    border-radius: 16px;
    padding: 64px 48px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(<path-to-image>) lightgray 50% / cover no-repeat;
    background-image: url(./assets/handshake.jpg);
    background-position: center;
}



.support h2 {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
}

.support p {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin: 16px 0 24px 0;
}

.input-section {
    text-align: center;
}

.input-section input {
    width: 548px;
    padding: 20px;
    border-radius: 10px;
    border: 0;
}

.input-section button {
    width: 120px;
    padding: 16px 20px;
    border: 0;
    border-radius: 8px;
    background: #FFF;
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.input-section input::placeholder {
    color: rgba(13, 19, 33, 0.40);
    font-family: "Azeret Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* support section end */


/* footer start */
.footer {
    margin-top: 80px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    padding: 32px 150px;
}

.footer-content {
    display: flex;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    justify-content: space-between;
}

.footer-content a {
    margin-right: 24px;
}

.footer-content p {
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* footer end */