/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* font */

.azeret-mono-main-font {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
}


.header {
    background-image: url(./assets/Hero-bg.png);
    text-align: center;
    min-height: 652px;
}

.header-content {
    width: 70%;
    margin: 0 auto;
}

.header-content img {
    margin-top: 26px;
}

.header h2 {
    color: #0D1321;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    margin: 40px 0 25px 0;
}

.header p {
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 32px;
}

.header button {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background: #0D1321;
    border: 0;
    padding: 21px 24px;
    margin-bottom: 45px;
}